<!-- success.html -->
{% extends 'base.html' %} {% block content %}
<script>
  console.log("Dont copy paste anything in this console");
</script>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 border p-4 text-center">
      <!-- <div class="text-bold">Congragulations !!</div> -->
      <!-- <div>Your application has been submitted</div> -->
      <span>{{ message }}</span>
      <div>For more info please contact our staff at '0991486862'</div>
      <!-- <div>Or send us a message here</div> -->
    </div>
  </div>
</div>
{% endblock %}
